<p id="notice"><%= notice %></p>

<h1>Dinner Menu</h1>

<table>
  <tbody>
    <% @courses.each do |course| %>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
      <tr>
        <td class="course_name"><%= course.name %></td>
      </tr>
      <% @dishes = Dish.where('course_id = ?', course.id) %>
      <% @dishes.each do |dish| %>
        <tr>
          <td><%= link_to "#{dish.name}", edit_dish_path(dish, course_id: course.id, course_name: course.name), {class: 'edit'} %></td>
          <td><%= dish.description %></td>
          <td><%= number_to_currency(dish.price) %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= link_to "Add New #{course.name}", new_dish_path(course_id: course.id, course_name: course.name) %></td>
      </tr>
      <tr>
        <td><%= image_tag asset_url("#{course.name}.jpg"), class: 'food' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
