<p id="notice"><%= notice %></p>

<h1>Dinner Menu</h1>

<table>
  <tbody>
    <% @courses.each do |course| %>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
      <tr>
        <td class="course_name"><%= course.name %></td>
      </tr>
      <% @dishes = Dish.where('course_id = ?', course.id) %>
      <% @dishes.each do |dish| %>
        <tr>
          <td><%= dish.name %></td>
          <td><%= dish.description %></td>
          <td><%= number_to_currency(dish.price) %></td>
          <td><%= link_to 'Show', dish %></td>
          <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
          <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>

  <!-- <tbody>
    <% @dishes = Dish.order(:course_id) %>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.price %></td>
        <td><%= dish.name %></td>
        <td><%= dish.description %></td>
        <td><%= dish.course.name %></td>
        <td><%= link_to 'Show', dish %></td>
        <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
        <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody> -->
</table>

<br>

<%= link_to 'New Dish', new_dish_path %>
